/* CSS DOCUMENT */

/*

Colors

#010D00 - Roblox Black
#154001 - Roblox Green
#0D2601 - Roblox Dark Green
#22262F - Roblox Grey
#FDFEF6 - Roblox White
#D91E0D - Roblox Red

Fonts

font-family: 'Bree Serif', serif;
font-family: 'Mukta', sans-serif;
font-family: 'Rubik Mono One', sans-serif;

*/

@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Mukta:wght@200;400;700&family=Rubik+Mono+One&display=swap');

*, *:active {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: #22262F;
    color: #FDFEF6;
}

header {
    color: #010D00;
    padding: 2em;
    text-align: center;
}

h1 {
    color:#FDFEF6;
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 2em;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #D91E0D;
    text-shadow: -1px 1px 0 #D91E0D;
}

h2 {
    font-family: 'Bree Serif', serif;
}

p {
    font-family: 'Mukta', sans-serif;
    font-size: 1.3em
}

main {
    height: auto;
}

blockquote {
    margin: 2em;
}

img {
    float: left;
    width: 30%;
    height: 25%;
    border:#FDFEF6 solid;
    margin: 0 1em;
}

.rightImg {
    float: right;
}

table {

}

nav {
    border: double 5px;
    border-color: #D91E0D;
    color:#FDFEF6;
    text-align: center;
}

nav ul{
    list-style-type: none;
}

nav ul li{
    text-align: center;
    display: inline-block;
    padding: 1em 3em;
    font-size: 1.3em;
    font-family: 'Rubik Mono One', sans-serif;
}

nav ul li a:link {
    text-decoration: none;
    color:#FDFEF6;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #D91E0D;
    text-shadow: -1px 1px 0 #D91E0D;
}

nav ul li a:hover {
    text-decoration: none;
    color:#D91E0D;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #D91E0D;
    text-shadow: -1px 1px 0 #D91E0D;
}

nav ul li a:active {
    text-decoration: none;
    color:#D91E0D;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #FDFEF6;
    text-shadow: -1px 1px 0 #FDFEF6;
}

nav ul li a:visited {
    text-decoration: none;
    color:#D91E0D;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #FDFEF6;
    text-shadow: -1px 1px 0 #FDFEF6
}

#topNav {

}

section {
    margin: 2em;
}

#bottomNav {
    clear: both;
}

footer {
    text-align: center;
    color:#FDFEF6;
}

footer p a{
    color:#D91E0D;
}

footer p {
    padding: 0.5em;
    font-size: 0.8em;
}