/* CSS DOCUMENT */

/*

Colors

#010D00 - Roblox Black
#154001 - Roblox Green
#0D2601 - Roblox Dark Green
#595047 - Roblox Grey
#595047 - Roblox White
#D91E0D - Roblox Red

Fonts

font-family: 'Bree Serif', serif;
font-family: 'Mukta', sans-serif;
font-family: 'Rubik Mono One', sans-serif;

*/

@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Mukta:wght@200;400;700&family=Rubik+Mono+One&display=swap');

*, *:active {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: #595047;
    color: #595047;
}

h1 {
    color:#D91E0D;
    font-family: 'Rubik Mono One', sans-serif;
}

h2 {
    font-family: 'Bree Serif', serif;
}

p {
    font-family: 'Mukta', sans-serif;
}

blockquote {

}

img {

}

table {

}

nav {

}

nav ul{

}

nav ul li{

}

#topNav {

}

#bottomNav {

}